* {
    box-sizing: border-box;
    }
body {
    background-color: #e5e5e5;
}

.conteudo {
    margin-top: 123px;
    margin-bottom: 108px;
    width: 100%;
    padding-left: 19px;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    margin-top: 31px;
}
p {
    font-family: 'Roboto', sans-serif;
}
.topo {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 92px;
    width: 100%;
    background-color: #cf2b2b;
    padding: 8px 0px 18px 21px;
    box-shadow: 0px 0px 10px 3px gray;
}

.titulos {
    color: #ffffff;
    
}
.subtitulo {
    font-size: 18px;
}

.container {
    margin: 31px 0px 27px 19px;
    width: 100%;
}

.menus {
    display: flex;
    overflow-x: scroll;
    margin-top: 17px;
    margin-bottom: 27px;
}
.prato {
    margin-right: 16px;
    background-color: #ffffff;
    padding: 18px 13px 16px 15px;
    text-align: left;
    box-shadow: 100px 20px 10px 10px gray;
    border-radius: 9px;
}
.bebida {
    margin-right: 16px;
    background-color: #ffffff;
    padding: 18px 13px 16px 15px;
    text-align: left;
    box-shadow: 100px 20px 10px 10px gray;
    border-radius: 9px;
}
.sobremesa {
    margin-right: 16px;
    background-color: #ffffff;
    padding: 18px 13px 16px 15px;
    text-align: left;
    box-shadow: 100px 20px 10px 10px gray;
    border-radius: 9px;
}
.imagem-cardapio {
    height: 87px;
    width: 144px;
    border-radius: 4px;
    margin-bottom: 8px;

}
.titulo-prato {
    margin-bottom: 4px;
    font-size: 16px;
    color: #333;
}
.titulo-bebida {
    margin-bottom: 4px;
    font-size: 16px;
    color: #333;
}
.titulo-sobremesa {
    margin-bottom: 4px;
    font-size: 16px;
    color: #333;
}
.descricao {
    margin-bottom: 9px;
    color: #a6a6a6;
    font-size: 15px;


}
.preco-prato {
    font-size: 16px;
    color: black;

}
.preco-bebida {
    font-size: 16px;
    color: black;

}
.preco-sobremesa {
    font-size: 16px;
    color: black;
}
.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 92px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-desabilitado {
    width: 80%;
    height: 61px;
    border-radius: 50px;
    background-color: #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.escrita-desabilitado {
    color: #ffffff;
    text-align: center;
}

/*Dinamico*/


.habilitado {

}
.escolhido {
    border: solid 3px green;
}